:root {
    --main-color: #d52349;
    --text-color: #777;
    --text-color-light: #ccc;
    --border-color: #eee;
    --bg-color: #fff;
    --neutral-color: #fff;
  }

.btn {
    display: inline-block;
    margin-left: 10px;
    margin-top: 2px;
    background: var(--main-color);
    padding: 10px 16px;
    border-radius: 10px;
    font-weight: 500;
    color: #eee;
}
.btnDisabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}
.error {
    margin-left: 5px;
    display: inline;
    color: var(--main-color);
}
.serviceLabel {
    display: inline;
    font-weight: 500;
}
.changeSelection {
    cursor:pointer;
    display: inline;
    color: var(--main-color);
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

    text-align: center;
    max-width: 600px;
    max-height: 400px;
    margin: 4rem auto;
    padding: 10px;

   
  }